/* You can add global styles to this file, and also import other style files */
body{
    background-color: #e8e8e8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#7b7b7b;
    margin: 0px;
    padding: 50px 0 0 0 ;
}
.text-muted{color: #b3b3b3}
